##조건문

In [ ]:
def wow():
    iss = 0
    while True:
       yield iss
       iss += 1


for i in wow():
    if i > 10:
        break
    print(f'hello {i}')
    i += 1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [ ]:
if False:
    print('hello')

In [ ]:
if (True): # 이렇게 괄호를 안해도 됩니다!
    print('hello')

hello

In [ ]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [ ]:
''
0
[]
{}
()
set()

#########

1
-1
' '
[10, 20]

[10, 20]

In [ ]:
x = 5
y = 0
result = 'x is greater' if x > y else 'y is greater or equal'
result

'x is greater'

##연습문제

In [ ]:
# 1. 주어진 리스트 `data = [{"name": "길동", "수학": 3, "과학": 93},
#  {"name": "춘향", "수학": 33, "과학": 11},
#  {"name": "철수", "수학": 94, "과학": 67}]`
#에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

data = [{"name": "길동", "수학": 3, "과학": 93},
{"name": "춘향", "수학": 33, "과학": 11},
{"name": "철수", "수학": 94, "과학": 67}]

max_entry = max(data, key = lambda x : x['수학'] + x['과학'])
print(max_entry)
print(max_entry['name'])

{'name': '철수', '수학': 94, '과학': 67}
철수

In [ ]:
# 2. 주어진 사전 `grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}`
#의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

grades = {'Tom' : 87, 'Jerry' : 95, 'Mickey' : 70}
update = grades.items()
update = {i: score +5 for i, score in update}
update

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [ ]:
 #3. 주어진 문자열 `s = "apple banana apple cherry banana cherry apple"`에서
 #가장 자주 등장하는 단어를 출력하세요.
from collections import Counter
s = "apple banana apple cherry banana cherry apple"

ss = s.split(' ')
print(max(Counter(ss).items(), key = lambda x : x[1]))

Counter(ss).most_common(1)

('apple', 3)

[('apple', 3)]

In [ ]:
s = 'apple banana apple cherry banana cherry apple'
words = s.split(' ')
most_frequent_word = max(set(words), key = words.count)
most_frequent_word

'apple'

In [ ]:
[i if i % 2 ==0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
def f():
    return True

if f():
    print('hello')

hello

In [ ]:
def f():
    return True

def ff():
    return 'hello'

if f() and ff():
    print('hello')

hello

In [ ]:
# 성능에 영향을 끼칩니다!
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if f() or ff():
    print('hello')

hello

In [ ]:
#error가 나는 코드
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if ff() or f():
    print('hello')

In [ ]:
my_funtion = lambda x : '짝수' if x % 2 == 0 else '홀수'
my_funtion(9)

'홀수'

In [ ]:
x = -1
assert x > 0, '0보다 크지 않잔아!' #조건이 참이 아니면 나오는 오류 메세지

AssertionError: ignored

In [ ]:
x = 10
assert x > 0, '양수여야 한다!'
#맞으면 그냥 통과

In [ ]:
score = 59
money = 0

if score >= 90:
    print('90점을 넘기다니 미쳤군.,')
    money += 900000
elif score >= 80:
    print('80점을 넘기다니')
    money += 80000
elif score >= 70:
    print('70점을 넘겼구나')
    money += 7000
elif score >= 60:
    print('60점은 넘었구나,...')
    money += 600
else:
     print('넌 나가라!')
     money -= 9999999
print(money)

넌 나가라!
-9999999

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if 80 > score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 > score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [ ]:
# 위와 같이 하더라도 실행이 같지 않고
# 또 성능도 안좋습니다!!
# 성능이 왜 안좋나요?
# if 뒤를 다 검사해야 하기 때문에 그렇습니다.
# 적절하게 묶는 것은 매우 중요한 포인트입니다

In [ ]:
#if를 중첩해서 사용하기

movie = {
    '영화' : '무빙',
    '장르' : 'SF',
    '서비스' : '디즈니',
    '비용' : 15000,
    '평점' : 4.9
}


if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니':
        if movie['비용'] <= 20000:
            if movie['평점'] >= 4.5:
                print('영화시청')

영화시청

In [ ]:
#조금 더 다듬어 보기

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie[서비스] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

#다듬어 진게 맞을까??

영화시청

In [ ]:
#지금 이 코드에서는 동일하게 작동하겠지만
#이렇게 if를 중첩문으로 했을 때 문제가 발생합니다.

movie = {
    '영화' : '무빙',
    '장르' : 'SF',
    '서비스' : '넷플릭스',
    '비용' : 15000,
    '평점' : 4.1 #변경
}


if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if movie['서비스'] == '디즈니' or '넷플릭스':
                print('영화시청')


def 구독중인ott():
    #사용자에게 문자 알림을 준다던지 하는 엑션을 추가해여 한다?  위와같으면 매우 어려움
        return movie['서비스'] == '디즈니' or '넷플릭스'

영화시청

In [ ]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

왓챠 구독하기!

##match

In [ ]:
text = 'Hello World'
#JS의 스위치 같은건가?
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case 'Hello World':
        print('굿굿')

굿굿

In [ ]:
#JS의 스위치 같은건가?
text = 'Hello'
def match_text():
    match text:
        case 'Hello':
            print('Hello')
        case 'World':
            print('World')
        case 'Hello World':
            print('굿굿')

match_text()

Hello

In [ ]:
# 작동하지 않는 코드입니다. JavaScript와 같은 곳에서는 아래와 같은 형식으로 사용하곤 합니다.
text = 'Hello'
match text:
    case 'Hello':
    case 'World':
        print('World')
    case _:
        print('No Match')

IndentationError: ignored

In [ ]:
# 작동하지 않는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' or 'World':
        print('World')
    case _:
        print('No Match')

SyntaxError: ignored

In [ ]:
#그러면 어떻게 동시 만족을 표현할 수 있을까요?
#예시

text = 'Hello'

match text:
    case 'Hello' | 'World':
        print('Hello world')
    case _: #이전 케이스에 해당하지 않는경우
        print('No match')

Hello world

In [ ]:
def test(i):
    if isinstance(i, int) == False:
        print('정수를 입력하세요!!')
        return

    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i in range(5, 11) :
            print('5~10')
        case _ if i > 10:
            print(f'{i} is greater than Ten')
        case _:
            print('숫자를 입력한게 맞나요?')

test(456)
test(1)
test(2)
test(3)
test(4)
test(6)
test('23')

456 is greater than Ten
One
Two
Three or Four
Three or Four
5~10
정수를 입력하세요!!

In [ ]:
#더 개선된 case

def test(i):
    if isinstance(i, int) == False:
        print('정수를 입력하세요!!')
        return

    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _:
            if i in range(5, 11) :
                print('5~10')
            elif i > 10:
                print(f'{i} is greater than Ten')
            else:
                print('숫자를 입력한게 맞나요?')
test(456)
test(1)
test(2)
test(3)
test(4)
test(6)
test('23')

456 is greater than Ten
One
Two
Three or Four
Three or Four
5~10
정수를 입력하세요!!

In [ ]:
#문제 match를 사용하여 아래 코드를 완성해주세요.

def attack(attack_type, damage):
    #match...
    pass

attack('물리공격', 100) #출력 100의 데미지 입혔습니다.

#각 공격에 따라 아래의 값이 출력되어야 합니다.
#공격의 종류: 물리공격, 마법공격, 정신공격
#물리공격, 마법공격 : '100의 데미지를 입혔습니다.'
#정신공격: '100ms 만큼 상대방이 혼란을 느낍니다.'

In [ ]:
def attack(attack_type, damage):
    match (attack_type, damage):
        case ('물리공격', _) | ('마법공격', _):
            print(f'{attack_type}으로 {damage}의 데미지를 입혔습니다.')
        case ('정신공격', _):
            print(f'{damage}ms 만큼 상대방이 혼란을 느낍니다.')
        case (_, _):
            print(f'{attack_type}은 규칙에 맞지않아...')


attack('물리공격', 200)
attack('마법공격', 200)
attack('정신공격', 200)
attack('강한공격', 200)

물리공격으로 200의 데미지를 입혔습니다.
마법공격으로 200의 데미지를 입혔습니다.
200ms 만큼 상대방이 혼란을 느낍니다.
강한공격은 규칙에 맞지않아...

##반복문

In [ ]:
for x in 'hello': #순회 가능한 객체가 들어갑니다.
    print(f'현재 값은{x} 입니다.')
for x in range(1, 6):
    print(f'현재 값은{x} 입니다.')

현재 값은h 입니다.
현재 값은e 입니다.
현재 값은l 입니다.
현재 값은l 입니다.
현재 값은o 입니다.
현재 값은1 입니다.
현재 값은2 입니다.
현재 값은3 입니다.
현재 값은4 입니다.
현재 값은5 입니다.

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}
for i in d.keys():
    print(i)
for i in d.values():
    print(i)

하나
둘
셋
one
two
three

In [ ]:
for i, j in d.items():
    print(f'{i} : {j}')

for k, v in d.items():
    print(k, ':', d[k], sep=' ', end=', ')

하나 : one
둘 : two
셋 : three
하나 : one, 둘 : two, 셋 : three,

In [ ]:
# __iter__ 이 메직메서드가 없다? for문이 안된다! 순회가능한 객체가 아니다.
#있다? for문이 된다! 순회가능한 객체이다!

# 1부터 시작해서 5까지의 값이 x에는 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x7906305d5f60>

In [ ]:
print(next(x))
print(next(x))
print(next(x))
print(next(x))

h
e
l
l

In [ ]:
x = 'hello'
y = x.__iter__()

In [ ]:
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

h
e
l
l
o

StopIteration: ignored

In [ ]:
result = 0
for i in range(0, 11, 2):
    result += i

print(result)

30

In [ ]:
n = 100
result =  (n + 1) * n / 2
result

5050.0

In [ ]:
#1부터 100까지 더하기

result = 0
for i in range(1, 101):
    result += i
print(result)

#1부터 100까지 짝수를 더하는 코드
#1. 권장하지 않는 코드(100번 돌아야하고, if문도 체크해야하고)

result = 0
for i in range(101):
    if i % 2 == 0:
        result += i
print(result)

#2.권장하는코드 (순회도 반만 돌고, if문도 없음)

result = 0
for i in range(0, 101, 2):
    result += i
print(result)

#구구단 출력
for i in range(2, 10):
    for j in range(1, 10):
        # print(f'{i} x {j} = {i*j}')
        pass

#홀수들에 특이한 덧셈을 하고 싶습니다.
#예를 들어, 6이하의 특이한 덧셈을 한다면
# 1 + 3 이하의수 + 5이하의 수...
# 1+ 1 + 2 + 3 + 1 + 2 + 3 + 4 + 5 이렇게 답이 나와야 합니다.

result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
print(result)

5050
2550
2550
22

In [ ]:
#두 문제 모두 for는 중첩 2번 해야 합니다.

#문제1
#다음과 같은 문자열이 있습니다.
#s = '135678'
#이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드를 만들어주세요.

s ='135678'
for num in s:
    for j in range(1, 10):
        print(f'{num} X {j} = {int(num) * j}')

In [ ]:
#심화문제
#특이한 구구단이 있다.
# [2, 3 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2, 3, 6단을 출력하고
#곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.

'''
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''

l = [2, 3, 6]
for num in l:
    for j in l:
        print(f'{num} X {j+1} = {num * (j+1)}')

In [ ]:
nums = [1,2,3,4,5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 ==0 else f'{x}는 3보다 큰 홀 수' for x in nums if x > 3]
result

['4는 3보다 큰 짝수', '5는 3보다 큰 홀 수']

In [ ]:
#개선
result =  []
nums = [1, 2, 3, 4, 5]

for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
           result.append(f'{x}는 3보다 큰 홀수')
result

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [ ]:
def something(i):
    if i % 100 == 0:
        return i
    else:
        return 0

l = [100, 200, 300, 301, 302, 202]
l = list(map(something, l))

print(l)

[100, 200, 300, 0, 0, 0]

In [ ]:
#하나만 리스트여도 쌓이면 상관없이 잘 돌아감
skill = [
    ('고기잡이', 100, 'SS'),
    ('고기팔기', 120, 'SSS'),
    ('낚시', 5, 'C'),
    ('통발', 5, 'C'),
    ('큰그물', 5, 'C')
]

for skillName, level, skillgarde in skill:
    print(skillName, level, skillgarde)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for rank, movieName in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {rank}위! {movieName}~')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블~
누적관객수 2위! 뷰티인사이트~
누적관객수 3위! 매트릭스~
누적관객수 4위! 인셉션~
누적관객수 5위! 어거스트 러쉬~

In [ ]:
#실행시키면 런타임 다시 시작해야 합니다.
l = [1, 2]
for i in l:
    l.append(3)
    print(i)

In [ ]:
#파이썬 for문은 순회할 객체를 평가하고 그 결과를 바탕으로 순회를 진행
#문자열은 불변이기 때문에 원본문자열이 변경되지않음
#반면 list는 가변적이기 때문에 순회도중 list의 내용이 변경되면서 무한 순회 발생.

s = 'hello'
for i in s: #정상적 순회
    s += '!'
    print(i)
    print(s)

h
hello!
e
hello!!
l
hello!!!
l
hello!!!!
o
hello!!!!!
hello!!!!!

In [ ]:
#for문에서 순회하는동안 dict를 업데이트, 제거하는것은 허용하지 않음.

d = {'one' : '하나'}
for i in d:
    d.update({i +d[i]: 1})
print(d)

RuntimeError: ignored

In [ ]:
#그래서 안에서 새로운 dict요소를 추가하고 안에서 업데이트 후 덮어 씌우는건 가능.
d = {'one' : '하나'}
for i in d:
    li = dict(d)
    li.update({i +li[i]: None})
print(li)

{'one': '하나', 'one하나': None}

In [ ]:
#이런 코드는 OS에서 사용하거나
#쉘 만들 때 사용합니다.
while True:
    userinput = input('>')
    if userinput == 'pwd':
        print('현재 위치 출력')
    elif userinput == 'dir' or userinput == 'ls':
        print('현재 폴더의 위치와 파일명 출력')
    elif userinput == 'exit':
        print('안녕히 가세요')
        break
    else:
        print('없는 단어야. "다시"')

>ㅁㄴㅇㄹㄴㅁㅇㄹ
없는 단어야. "다시"
>ㅁㄴㅇㄻㄴㅇㄹ
없는 단어야. "다시"
>ㅁㄴㅇㄻㄴㅇㄻ
없는 단어야. "다시"
>exit
안녕히 가세요

In [ ]:
# .py파일로 작성해서 실행해보세요.
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>pwd
/content
>dir
['.config', 'sample_data']
>exit
안녕히가세요.

In [ ]:
import random

answer = random.randint(1, 1000)
while True:
    inin = input('숫자를 입력해 주세요. >>')
    try:
        userinput = int(inin)
    except ValueError:
        print('숫자 넣으라고 ㅅㅂ')
        continue
    if userinput > answer:
        print('너무 높아')
    elif userinput < answer:
        print('너무 낮아')
    else:
        print(f'정답! {answer}는 1~1000까지 숫자였어')
        break

In [ ]:
import random
s =[1, 2, 3, 4, 5]
random.shuffle(s)
print(s)
random.shuffle(s)
print(s)

[4, 2, 1, 5, 3]
[1, 5, 3, 2, 4]

In [ ]:
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

0
9
4
2
4
3
8
1
2
9
4

In [ ]:
i = 2
while i < 10:
    j = 1 #매우 중요!!!!!!! while문은 중첩해서 사용할 때 초기화가 필요합니다.
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    i +=1

In [ ]:
x = 0
while x < 10:
    print(x)
    if x ==5:
        break
    x +=1

0
1
2
3
4
5

In [ ]:
# 주의해주세요! 무한반복입니다!
x = 0
while x < 10:
    print(x)
    if x == 5:
        continue
    x += 1

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        pass
    print(x)

1
2
3
4
5

In [ ]:
# break은 바로 위에 부모만 탈출합니다.
# continue는 아래코드를 실행하지 않고 다음 루프로 넘어갑니다.
# pass는 지나칠 뿐입니다.
# 아래에서 pass는 코드가 애러가 나지 않게만 합니다.
x = 0
while x < 10:
    x += 1
    if x == 5:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
3 X 1 = 3
3 X 2 = 6
4 X 1 = 4
4 X 2 = 8
5 X 1 = 5
5 X 2 = 10
6 X 1 = 6
6 X 2 = 12
7 X 1 = 7
7 X 2 = 14
8 X 1 = 8
8 X 2 = 16
9 X 1 = 9
9 X 2 = 18

In [ ]:
switch = 0
for i in range(5):
    if switch == 1:
        break
    for j in range(5):
        if j == 3:
            switch = 1
            break
        print(f'{i}, {j}')

0, 0
0, 1
0, 2

In [ ]:
from logging import exception

class 그만(Exception):
    pass


try:
    for i in range(2, 10):
        for j in range(1, 10):
            if j ==3:
                raise 그만
            print(f'{i} X {j} = {i*j}')
except 그만:
    print('Done')

2 X 1 = 2
2 X 2 = 4
Done

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장이 있었어요.

for i in range(5):
    print(i)
else:
    print('정상 종료')

# else라고 하지 않고 다른 키워드로 해야한다는 주장이 있었어요.

for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print('정상종료')

0
1
2
3
4
정상 종료
0
1
2

In [ ]:
x = 1
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('정상종료')

1
2
3

In [ ]:
data = [
    {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
    },
    {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]

In [ ]:
## 문제 1번: 평균 나이를 출력해주세요.
# 문제 2번: 남녀 성비를 출력해주세요.

data[0]

{'_id': 'fd7e9a0f-e77b-436a-B781-119b66033d49',
 'index': '1',
 'name': '나주헌',
 'email': 'user-tzctc1q@suspendisse.org',
 'phone': '010-5547-5841',
 'country': '과테말라',
 'address': '광나루로 99-2',
 'job': '유치원교사',
 'gender': '여성',
 'age': '43'}

In [ ]:
#1번 평균나이
age = map(lambda x: x['age'], data)
age = list(map(int, age))
average = sum(age) / len(age)
average

37.2

In [ ]:
#2번 남녀 성비
gen = list(map(lambda x: x['gender'], data))

def 성비(genlist):
    man = genlist.count('남성')
    woman = genlist.count('여성')
    print(f'총 인원 {man + woman}명중 남성 {man}, 여성{woman} 으로 성비는 "{round(man / woman, 2)}"입니다.')
    print(man / (man+woman))

성비(gen)

총 인원 5명중 남성 2, 여성3 으로 성비는 "0.67"입니다.
0.4

In [ ]:
a = map(int, ['1', '2'])
a = list(a)
a

[1, 2]

In [ ]:
gender = list(map(lambda x: x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
man / total * 100, woman / total * 100

(40.0, 60.0)

In [ ]:
n = 0
while n < 5:
    print(f'현제 숫자는 {n}입니다')
    n += 1
    if n > 3:
        break
else:
        print('반복문을 종료합니다.')

현제 숫자는 0입니다
현제 숫자는 1입니다
현제 숫자는 2입니다
현제 숫자는 3입니다

##클래스

In [6]:
#클래스 공부

class Car: #차의 설계 도면 또는 차 공장 => 클래스
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def start(self):
        print('자동차 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다.')

#공장에서 막 찍혀나온 자동차 3대
# model x, y, s => 인스턴스

modelx = Car() # 인트턴스 = 클래스()
modely = Car()
models = Car()

# Car.max_speed #modelx의 속도를 보고 싶으면 modelx.max_speed를 찍어야 합니다.
# modelx를 제가 구매했습니다.

print(modelx.max_speed)
print(modelx.car_gear[1])
modelx.start()
modelx.stop()

300
D
자동차 출발합니다!
차가 멈췄습니다.

In [4]:
l = [1, 2, 3]
l.append(3)
l

[1, 2, 3, 3]

In [7]:
#int, float, str과 같은 새로운 Car는 type을 만들고 있는 것입니다.

print(type(models))
print(dir(models))

<class '__main__.Car'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'car_gear', 'max_people', 'max_speed', 'start', 'stop']

In [8]:
x = int(3)
# x는 int라는 class의 인스턴스로 적용
type(x)

int

In [9]:
print(isinstance(x, int))

True

In [17]:
# x = int(3) 에서 넣었던 3이라는 값이 어떻게 처리되는지 확인

class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def __init__(self, name): #클래스로 인스턴스를 만들 때 호출
        self.name = name

    def start(self):
        print('자동차 출발~')
    def stop(self):
        print('자동차 정지~')

modelx = Car('테슬라 모델 X') # x = int(3) 여기서 넣었던 3이 __init__메직메서드에서 처리
print(modelx.name)
modelx.stop()

테슬라 모델 X
자동차 정지~

In [31]:
# 실제 게임 코드 예시

class Character:
    def __init__(self, name, role, hp, mp, power):
        self.name = name
        self.role = role
        self.hp = hp
        self.mp = mp
        self.power = power

    def attack(self):
        print('공격~~')
    def defense(self):
        print('방어~~')

용사 = Character('용사1', '전사', 100,  50, 100)
무직백수 = Character('무직백수', '백수', 50,  10, 50)
#이런직으로 여러 등장인물을 코딩할 수 있습니다.

In [33]:
class Person:
    name = 'jun' #클래스 변수
    def __init__(self, name):
        self.name = name #인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

('hojun', 'jun')

In [39]:
class Person:
    name = 'jun'
    def __init__(self, name):
        def hello():
            print('hello world')
        hello()
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

hello world

('hojun', 'jun')

In [40]:
class Car:
    #클래스 변수의 위치
    max_speed = 500
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

modelx = Car()
print(Car.max_speed)
print(modelx.max_speed)

500
500

In [48]:
class Car:
    kinds = []
    speed = 300
    def __init__(self, name):
        self.name = name
    def add_kinds(self, name):
        self.kinds.append(name)

    def change_speed(self, speed):
        self.speed = speed

modelx = Car('modelx')
modely = Car('modely')

modelx.add_kinds('x')
modely.add_kinds('y')
modelx.change_speed(500)
modelx.change_speed(1000)

def intro(name):
    print(f'이 차의 이름은 {name.name}이며 속도는 {name.speed}입니다.')
    #kinds가 클래스 변수이기 때문에 kinds에서 둘 다 추가된 상태
    print(f'{name.name}의 kinds는 현재 {name.kinds}입니다')
intro(modelx)
intro(modely)

이 차의 이름은 modelx이며 속도는 1000입니다.
modelx의 kinds는 현재 ['x', 'y']입니다
이 차의 이름은 modely이며 속도는 300입니다.
modely의 kinds는 현재 ['x', 'y']입니다

In [49]:
 speed = 300 #전역변수

 def change_speed(value):
    speed = value #지역변수

change_speed(100)
speed #바뀌지않고 300으로 출력됨

300

In [66]:
kinds = []

def add_kinds(value):
    kinds.append(value)

add_kinds(100)
kinds

[100]

In [74]:
class Car:
    max_speed = 300

    def __init__(self, name): #self는 자신만의 영역
        self.name = name

    def start(self, speed): #self는 자신만의 영역
        self.speed = speed
        return f'{self.name}차가 {self.speed}의 속력으로 움직이고 있습니다.'

modelx = Car('Tesla Model X')
print(modelx.name)
print(modelx.start(20))

Tesla Model X
Tesla Model X차가 20의 속력으로 움직이고 있습니다.

In [75]:
class Car:
    max_speed = 300

    def __init__(self, name): # self는 자신만의 영역
        self.name = name

    def start(self, speed): # self는 자신만의 영역
        self.speed = speed
        return f'{self.name}차가 {self.speed}의 속력으로 움직이고 있습니다.'

modelx = Car('Tesla Model X')
modelx.name = 'ModelY'
modelx.welcome = 'hello world'
print(modelx.name, modelx.welcome)

ModelY hello world

In [ ]:
# 인스턴스 변수 선언을 허락하고 있지 않습니다!
s = 10
s.hi = 'hi, world'
s.hi
#AttributeError: 'int' object has no attribute 'hi'

In [ ]:
s = 'hello'
s.hi = '안녕~'
s.hi
#AttributeError: 'str' object has no attribute 'hi'

In [ ]:
s = [10, 20, 30]
s.hi = 'hi, world'
s.hi
#AttributeError: 'list' object has no attribute 'hi'

In [ ]:
s = {'one':1}
s.hi = 'hi, world'
s.hi
#AttributeError: 'dict' object has no attribute 'hi'

In [82]:
hero = {
    'name': 'Jun',
    'hp': 100,
    'mp': 100,
    'power': 30,
    'drop_rate': 0,
    'attack': lambda :f'{hero["power"]}에 파워로 공격하였습니다.',
}

print(hero['hp'])
print(hero['attack']())  # 출력: 30에 파워로 공격하였습니다.

100
30에 파워로 공격하였습니다.

In [97]:
def create_character(name, hp, mp, power):
    data = {
        'name' : name,
        'hp' : hp,
        'mp' : mp,
        'power' : power
    }

    def get_data(key):
        return data[key]

    def attack():
        return f"{get_data('power')}에 파워로 공격하였습니다."

    return {'attack' : attack}

hero = create_character('용사1', 100, 50, 30)

print(hero['attack']())

30에 파워로 공격하였습니다.

In [110]:
#저라면 Car에서는 __add__를 구현하지 않았을 겁니다.
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('자동차 출발~')

modelx = Car('모델X')
print(modelx.name)
modelx.start()

모델X
자동차 출발~

In [117]:
#좌표를 클래스화
class Coordinate:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return [(self.x + other.x), (self.y + other.y)]

dot1 = Coordinate(10, 20)
dot2 = Coordinate(20, 30)

dot1 + dot2

[30, 50]

In [124]:
#자표 클래스 예제

class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        if isinstance(other, Point):
            return Point((self.x + other.x), (self.y + other.y))
        elif isinstance(other, int) or isinstance(other, float):
            return Point((self.x + other), (self.y + other))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return round((dx**2 + dy**2)**0.5, 3)

dot1 = Point(0, 20)
dot2 = Point(20, 30)

dot3 = dot1 + 10
print(dot1.x , dot1.y)
print(dot3.x , dot3.y)

dot4 = dot1 + dot2
print(dot4.x , dot4.y)

print(dot1.distance(dot3))
print(dot4.distance(dot1))

0 20
10 30
20 50
14.142
36.056

In [126]:
class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __mul__(self, other):
        dx = self.x - other.x
        dy = self.y - other.y

        return [(dx**2), (dy**2)]

dot1 = Point(10, 20)
dot2 = Point(30, 40)

dot1 * dot2

[400, 400]

In [127]:
#메트릭스 예제

class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 + m2

[30, 50, 70]

In [129]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

    def __mul__(self, other):
        if isinstance(other, int):
            return [i * other for i in self.value]
        raise TypeError('int형 외에 곱을 허락하지 않습니다!')

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 50, 40])

m1 * 3 #30 60 90
m1 * [1, 2, 3]

TypeError: ignored

In [130]:
[1, 2, 3] * [1, 2, 3]

TypeError: ignored

In [ ]:
# 단순화 시키긴 했으나 실제 아래와 같이 만듭니다.

class 게시물설계도:
    _id = int()
    title = str()
    contents = str()
    author = str()
    create_time = str()
    update_time = str()
    view_count = int()
    last_connect_location = str()
    last_connect_time = str()

게시물1 = 게시물설계도()
게시물2 = 게시물설계도()

In [132]:
#아래 기본 data를 기반으로 문제를 풀어주세요.

data = [
    {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]

In [141]:
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.
'''
 [
  {
    "gender": "여성",
    "age": "43"
  },
  {
    "gender": "남성",
    "age": "22"
  },
  {
    "gender": "남성",
    "age": "31"
  }
]
'''


def 성별나이추출기(data):
    result = list(map(lambda x: {'gender' : x['gender'], 'age' : x['age']}, data))
    print(result)

성별나이추출기(data)

[{'gender': '여성', 'age': '43'}, {'gender': '남성', 'age': '22'}, {'gender': '남성', 'age': '31'}]

In [ ]:
# 문제 2 User라는 class를 만들어 해당 데이터를 관리해주세요.
# 아래처럼 저장되어야 합니다.
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'

In [147]:
# 우리 수업에서 Django에서 사용되고
# 곧 나올 크롤링 같은 곳에서도 많이 사용됩니다.
# 1. 속도: 기본자료형보다 훨신 빠릅니다.
# 2. 메서드 구현: User클래스를 가지고 20 ~ 30, 30 ~ 40, 40 ~ 50별 타겟팅 광고

class User():
    def __init__(self, data):
        self._id = data['_id']
        self._index = data['index']
        self.name = data['name']
        self.gender = data['gender']
        self.age = data['age']



user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])


user_list = [user_1, user_2, user_3]
user_list[0].name
for i in user_list:
    print(i.age)

43
22
31

In [149]:
#이런식으로 활용가능

class User:
    def __init__(self, _id, index, name, gender, age):
        self._id = _id
        self.index = index
        self.name = name
        self.gender = gender
        self.age = age

    def __repr__(self):
        return f'user_{self.index}'

users = [User(**x) for x in data]
print(users)
users[0].name

[user_1, user_2, user_3]

'나주헌'

In [150]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email: str

user = User(123, 'hojun', 'testemail@gmail.com')
user

User(id=123, name='hojun', email='testemail@gmail.com')

In [161]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

    def withdraw(self, amount):
        if amount > self.balance:
            print('잔액 부족')
        else:
            self.balance -= amount
            return self.balance
    def 잔액확인(self):
        return f'현재 잔액은 {self.balance}원 입니다.'
내텅장 = BankAccount('김창환', 100000 )
내텅장.deposit(200000)
내텅장.잔액확인()

'현재 잔액은 300000원 입니다.'