##조건문

In [24]:
def wow():
    iss = 0
    while True:
       yield iss
       iss += 1


for i in wow():
    if i > 10:
        break
    print(f'hello {i}')
    i += 1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [25]:
if False:
    print('hello')

In [26]:
if (True): # 이렇게 괄호를 안해도 됩니다!
    print('hello')

hello

In [27]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [36]:
''
0
[]
{}
()
set()

#########

1
-1
' '
[10, 20]

[10, 20]

In [43]:
x = 5
y = 0
result = 'x is greater' if x > y else 'y is greater or equal'
result

'x is greater'

##연습문제

In [63]:
# 1. 주어진 리스트 `data = [{"name": "길동", "수학": 3, "과학": 93},
#  {"name": "춘향", "수학": 33, "과학": 11},
#  {"name": "철수", "수학": 94, "과학": 67}]`
#에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

data = [{"name": "길동", "수학": 3, "과학": 93},
{"name": "춘향", "수학": 33, "과학": 11},
{"name": "철수", "수학": 94, "과학": 67}]

max_entry = max(data, key = lambda x : x['수학'] + x['과학'])
print(max_entry)
print(max_entry['name'])

{'name': '철수', '수학': 94, '과학': 67}
철수

In [67]:
# 2. 주어진 사전 `grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}`
#의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

grades = {'Tom' : 87, 'Jerry' : 95, 'Mickey' : 70}
update = grades.items()
update = {i: score +5 for i, score in update}
update

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [101]:
 #3. 주어진 문자열 `s = "apple banana apple cherry banana cherry apple"`에서
 #가장 자주 등장하는 단어를 출력하세요.
from collections import Counter
s = "apple banana apple cherry banana cherry apple"

ss = s.split(' ')
print(max(Counter(ss).items(), key = lambda x : x[1]))

Counter(ss).most_common(1)

('apple', 3)

[('apple', 3)]

In [113]:
[i if i % 2 ==0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [112]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [114]:
def f():
    return True

if f():
    print('hello')

hello

In [115]:
def f():
    return True

def ff():
    return 'hello'

if f() and ff():
    print('hello')

hello

In [116]:
# 성능에 영향을 끼칩니다!
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if f() or ff():
    print('hello')

hello

In [ ]:
#error가 나는 코드
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if ff() or f():
    print('hello')

In [128]:
my_funtion = lambda x : '짝수' if x % 2 == 0 else '홀수'
my_funtion(9)

'홀수'

In [130]:
x = -1
assert x > 0, '0보다 크지 않잔아!' #조건이 참이 아니면 나오는 오류 메세지

AssertionError: ignored

In [131]:
x = 10
assert x > 0, '양수여야 한다!'
#맞으면 그냥 통과

In [143]:
score = 59
money = 0

if score >= 90:
    print('90점을 넘기다니 미쳤군.,')
    money += 900000
elif score >= 80:
    print('80점을 넘기다니')
    money += 80000
elif score >= 70:
    print('70점을 넘겼구나')
    money += 7000
elif score >= 60:
    print('60점은 넘었구나,...')
    money += 600
else:
     print('넌 나가라!')
     money -= 9999999
print(money)

넌 나가라!
-9999999

In [144]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if 80 > score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 > score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [ ]:
# 위와 같이 하더라도 실행이 같지 않고
# 또 성능도 안좋습니다!!
# 성능이 왜 안좋나요?
# if 뒤를 다 검사해야 하기 때문에 그렇습니다.
# 적절하게 묶는 것은 매우 중요한 포인트입니다

In [ ]:
#if를 중첩해서 사용하기

movie = {
    '영화' : '무빙',
    '장르' : 'SF',

}