##리스트

In [ ]:
#시퀸스형, 자료형

a = 'hello world'
a[0]  #'h'
a[:5] #'hello'

'hello'

In [ ]:
range (10)[3]

1

In [ ]:
a = range(100, 1000, 10)  #100부터 1000까지 10단위로
a[3] #130

130

In [ ]:
a = 1,2,3,4,5
print(a)
type(a) #tuple

(1, 2, 3, 4, 5)

tuple

In [ ]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [ ]:
a, b, c, d, e = range(10, 20, 2)
e

18

In [ ]:
a, b, c, d, e, f ='hello'  #error
d

ValueError: ignored

In [ ]:
for i , j in [[10, 20], [30, 40]]:
    print(i, j)

10 20
30 40

In [ ]:
range(100)[::5]
list(range(100)[::5])

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
range(10)[3:]

range(3, 10)

In [ ]:
enumerate([0,1,2,3,4,5,6,7,8,9], 100)  #리스트, ?

In [ ]:
enumerate([0,1,2,3,4,5,6,7,8,9], 100)[2]

In [ ]:
enumerate([0,1,2,3,4,5,6,7,8,9], 100)[2:]

TypeError: ignored

In [ ]:
b'world'

b'world'

In [ ]:
# b''    바이트
# f''    f-string 용법
# r''    raw값 출력


b = b'world' #유니코드표X, 아스키코드표에서 찾습니다!
b[0]

119

In [ ]:
#덧셈과 곱셈
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) #[1, 2, 3, 4, 5, 6, 7, 8]

print(a * 3) #[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

id(a[0]), id(a[3])

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

(133321801842928, 133321801843024)

In [ ]:
a = [1, 2, 3]
a = [a * 2] #리스트 컴프리헨션 사용하어셔 만드는 것을 권합니다.
#즉 a = [a, a] 상태

#리스트 컴프리헨션을 사용했기 때문에 [a, a]에서 a의 0번째 인덱스를 수정해야함
a[0][0] = 10000
a

[[10000, 2, 3, 1, 2, 3]]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0])
print(l[3])
print(l[-1])
print(l[-3])

1
4
5
3

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)   #NumPy배열로 반환
l * 3 #array([3, 6, 9])
l + l #array([2, 4, 6])

array([2, 4, 6])

In [ ]:
# 연습문제: 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다.
# data[1]로 접근하는 것은 안됩니다.


data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

f = sorted(data, key = lambda x:x[1])[0][0]  #str 'weniv CEO licat'

first = f.find('licat')
print(type(first))
print(f[first:])

<class 'int'>
licat

In [ ]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

f = sorted(data, key = lambda x:x[1])[0][0]  #우선순위가 두번째 인덱스로 정렬됨 >> str 'weniv CEO licat'

f[f.find('licat'):]  #l의 인덱스를 찾아서 그 이후의 문자열 추출 내가 처음에 한걸 한줄로 요약했네.

'licat'

In [ ]:
s = str(data)
#list에서 find사용불가, str로 변경
print(s[s.find('l'):s.find('t') +1]) #l 인덱스 ~ t인덱스 +1까지

asd = str(list(data))
print(asd[asd.find('licat'):asd.find('licat') + 5]) #l을 기준으로 5칸

licat
licat

In [ ]:
# 문제1: 다음 함수 is_palindrome를 완성하시오.
# 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면
# True를, 아니면 False를 반환해야 합니다.

def 로꾸꺼(anyword):
    if anyword == anyword[::-1]:
        return True
    else:
        return False

def reverse(word):
    if list(word) == list(reversed(word)):
        return True
    return False

def is_palindrome(a):
    if len(a) < 2:
        return True
    if a[0] != a[-1]:
        return False
    return is_palindrome(a[1:-1])

print(로꾸꺼('e'))
print(로꾸꺼('leasdvel'))
print(reverse('토마토'))
print(reverse('가짜토마토'))
print(is_palindrome('level'))
print(is_palindrome('45asd4'))

True
False
True
False
True
False

In [ ]:
# 문제2: 리스트 numbers가 주어졌을 때,
# 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]


a = list(filter(lambda x: x % 2 == 1, numbers ))
a

[3, 5, 7, 9]

##리스트(이어서)

In [ ]:
# sum(list(range(101)))과 슬라이싱을 사용해 아래 문제를 풀어주세요.

# 문제 1: 짝수를 모두 더해주세요.
sum(list(range(101)[::2]))
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
sum(list(range(101)[::3])) + sum(list(range(101)[::5])) - sum(list(range(101)[::15]))
# (슬라이싱 2개 사용) 난이도가 있는 보너스 문제: 1부터 90까지의 짝수를 모두 더해주세요.
sum(list(range(101))[0:91][::2])

2070

In [ ]:
# 문제 1: 짝수를 모두 더해주세요.
a = sum(list(range(101)[::2]))
print(a)

# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
list2 = sum(list(filter(lambda x : x % 3 == 0 or x % 5 ==0, range(101))))
print(list2)
# (슬라이싱 2개 사용) 난이도가 있는 보너스 문제: 1부터 90까지의 짝수를 모두 더해주세요.

sum(list(range(101)[0:91][::2]))
list3 = list(filter(lambda x: x % 2 == 0, range(101)[0:91]))
print(sum(list3))

2550
2418
2070

In [ ]:
#실무에서도 이렇게 2개를 자주 사용합니다.
list(range(11)[0:91][::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
l = [1, 2, 3]
dir(l)
l.append(253)
l

[1, 2, 3, 253]

In [ ]:
l = [1, 2, 3]
print(l)
l.clear()
print(l)

[1, 2, 3]
[]

In [ ]:
l = [10, 20, 30]
ll = l
print(id(ll), id(l))
l[0] = 1000
print(l, ll)

134710587274496 134710587274496
[1000, 20, 30] [1000, 20, 30]

In [ ]:
#이정도는 알아야 우리에게 충분합니다.
a = [10, 20]
b = [100, 200]

l = [a, b]
ll = l.copy()
print(id(l), id(ll))  #l.copy()시 아이디가 서로 다름
l[0][0] = 10000
print(l, ll)

134710587678912 134710587683776
[[10000, 20], [100, 200]] [[10000, 20], [100, 200]]

In [ ]:
import copy

k = [10000]

a = [10, k]
b = [100, k]

l = [a, b]

ll = copy.deepcopy(l)

print(l, ll)
k[0] = 999

print(l, ll)

[[10, [10000]], [100, [10000]]] [[10, [10000]], [100, [10000]]]
[[10, [999]], [100, [999]]] [[10, [10000]], [100, [10000]]]

In [ ]:
print([1,1,1,3,5,6].count(1))
print(list('11335416').count('1'))

3
3

In [ ]:
l1 = [10, 20 ,30]
l1.append([10, 20])
print(l1)

l2 = [10, 20, 30]
l2.extend([10, 20])
print(l2)

l3 = [10, 20, 30]
l3.extend('hello')
print(l3)

[10, 20, 30, [10, 20]]
[10, 20, 30, 10, 20]
[10, 20, 30, 'h', 'e', 'l', 'l', 'o']

In [ ]:
#한 자리씩 잘라서 넣는 개념
#자리수 모두 더하는 문제

userinput = input('숫자를 입력하세요:')
l = [10, 20, 30]
l.extend(map(int, userinput)) #그냥 int(userimput)하면 int가 이터레이터 아니라고 오류남
l

숫자를 입력하세요:456

[10, 20, 30, 4, 5, 6]

In [ ]:
l = [10, 20, 30]
ll = ['40', '50', '60']
l.extend(map(int, ll))
print(l)

[10, 20, 30, 40, 50, 60]

In [ ]:
l = [10, 20, 30, 40, 50]
l.index(30)

2

In [ ]:
l = [10, 20, 30, 40, 50]
# l.find(60) # find 메서드가 없습니다. 저도 간혹 이 실수를 합니다.

In [ ]:
l = [1, 2, 5, 6, 7]
l.insert(2, 3)
l

[1, 2, 3, 5, 6, 7]

In [ ]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아
# insert로 중간에 값을 삽입해주세요.
# 정답: [10, 20, 25, 30, 40, 50]
# * 다른 정답을 허용합니다.

l = [20, 40, 50, 10, 30]
l = sorted(l)
l.insert(l.index(30), 25)

print(l)

[10, 20, 25, 30, 40, 50]

In [ ]:
#마지막에서 빼는 것
l = [10, 20, 30]
l.pop()
l

[10, 20]

In [ ]:
#첫번째에서 빼는 것
l = [10, 20, 30]
l.pop(0)
print(l)


l = [10, 20, 30]
result = l.pop(0)
print(l, result)

[20, 30]
[20, 30] 10

In [ ]:
l = [1, 2, 3, 4, 5]

while l:
    print(l.pop(0))

print(l)

1
2
3
4
5
[]

In [ ]:
l = [1, 2, 3, 1, 2, 2, 3, 1, 1]
l.remove(2)
print(l)  #첫번째 2 가 없어지고 배열출력

#while문으로 2를 전부 지우기
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
while l.count(2):
    l.remove(2)
    print(l)

#필터/ 람다함수로 2거르기
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
l1 = list(filter(lambda x : x != 2, l))
print('필터', l1)

[1, 3, 1, 2, 2, 3, 1, 1]
[1, 3, 1, 2, 2, 2, 1, 1]
[1, 3, 1, 2, 2, 1, 1]
[1, 3, 1, 2, 1, 1]
[1, 3, 1, 1, 1]
필터 [1, 3, 1, 1, 1]

In [ ]:
#reversed와 reverse 차이, sorted와 sort 차이
#원본을 수정하냐 아니냐 차이.

l = [1, 2, 10, 3, 4]
print(list(reversed(l)))
print(l)   #reversed는 원본을 그대로 냅둔다.

print(l.reverse()) #reverse는 원본을 바꾸고 None을 리턴한다.
l

[4, 3, 10, 2, 1]
[1, 2, 10, 3, 4]
None

[4, 3, 10, 2, 1]

In [ ]:
l = [1, 2, 10, 3, 4]
sorted(l)  #원본을 건들지 않음.
print(l)
l2= l.sort() #None
print(l2)
l2= sorted(l)
print(l2)

l.sort()  #원본을 건듬
print(l)

[1, 2, 10, 3, 4]
None
[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10]

In [ ]:
# 게시판 = [게시물1, 게시물2, 게시물3, 게시물4]
# 게시물1: 오래된 게시물이 저장이 되어 있을겁니다. (append로 게시물 추가했다고 생각해볼게요.)
# 그러면 그냥 게시판을 출력했을 때 최상단에 노출되는 게시물은 가장 오래된 게시물일겁니다.
# 컴퓨터 입장에서는요.
# 그래서 게시판.reverse()해서 출력합니다. 최신게시물이 상단에 오게요.
# 그러면 게시물5는 어디에 추가 될까요? 원본을 수정했기 때문에 게시물1 다음에 게시물5가 추가되요.
# 게시판[::-1], reversed(게시판)을 사용해서 역순으로 만들었어야 했습니다.
# 보이는화면 = 게시판[::-1]
# 보이는화면 = reversed(게시판)

##튜플

In [ ]:
# 튜플은 안에 있는 값이 변경 불가능한 자료형이 아닙니다.
# 튜플은 참조 불변입니다.
# 리스트에 비해 처리 속도가 조금 더 빠릅니다.

x = (1, 2, 3)
x[0] = 1000  #튜플은 참조 불변 >> error
x

TypeError: ignored

In [ ]:
x = [10, 20, 30]
y = (1, 2, x)
print(y)
x[0] = 1000  #x는 리스트 임으로 값 변경 가능
#튜플은 x를 변함없이 참고하고 있음으로 값이 바뀌었음.
print(y)

(1, 2, [10, 20, 30])
(1, 2, [1000, 20, 30])

In [ ]:
# 데이터의 변경이 민감한 곳
# 참조의 갯수가 변하면 안되는 곳

s = {'one':1, 'two':2}
s.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[0])
print(t[1:4])

t = (1, 1, 1, 2, 3, 4)
print(t.count(1))
print(t.index(3))

1
(2, 3, 4)
3
4

##딕셔너리

In [ ]:
# 파이썬 3.6 버전부터 삽입 순서가 보장
# colab, colab에서 불과 1 ~ 2년 전만 하더라도 print로 출력한 것은 정렬 출력,
# 맨 마지막 출력은 정렬하지 않고 출력했습니다.

In [ ]:
dic = {'bb':100, 'hello':10, 'world':20, 'aa':30}
print(dic)
print(type(dic))

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}
<class 'dict'>

In [ ]:
dic = dict([['bb',100], ['hello',10], ['world',20], ['aa',30]])
print(dic)

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

In [ ]:
d = dict(name = 'licat', age = 10)
print(d)

{'name': 'licat', 'age': 10}

In [ ]:
complex_dict = {
    'numbers' : [1, 2 ,3],
    42 : 'answer',
    ('x', 'y') : [10, 20],
    True : [100, 200]
}
print(complex_dict['numbers'])
print(complex_dict[42])
print(complex_dict[('x', 'y')])
print(complex_dict[True])

[1, 2, 3]
answer
[10, 20]
[100, 200]

In [ ]:
#dict 내용 바꾸기
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'

print(person)

{'name': 'mura', 'city': 'Seoul'}

In [ ]:
#person dict에 추가하기
person['age'] = 10
print(person)

{'name': 'mura', 'city': 'Seoul', 'age': 10}

In [ ]:
keys = ['name', 'city', 'job']
values = ['licat', 'Seoul', 'Developer']

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Seoul', 'job': 'Developer'}

In [ ]:
hero = {'name': 'licat', 'age' : 10}
dir(hero)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
hero2 = hero.copy()  #원본 hero를 바꾸지 않고 복사해서 사용

hero2['name'] = 'mura'
print(hero, hero2)

{'name': 'licat', 'age': 10} {'name': 'mura', 'age': 10}

In [ ]:
print(hero2.items())
print(list(hero2.items())[1])
# 이렇게 많이 사용합니다.
for i in hero2.values():
    print(i)
for i in hero2.keys():
    print(i)

dict_items([('name', 'mura'), ('age', 10)])
('age', 10)
mura
10
name
age

In [ ]:
hero = {'name': 'licat', 'age': 10}
print(hero.values())
type(hero.values())

dict_values(['licat', 10])

dict_values

In [ ]:
hero = {'name': 'licat', 'age': 10}

'licat' in hero # 출력: False
print('name' in hero) # 출력: True
print('licat' in hero.values()) # 출력: True
print('name' in hero.keys()) # 출력: True

True
True
True

In [ ]:
keys = ['name', 'city', 'job']
value = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, value))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [ ]:
d = {'name': 'licat', 'city': 'Jeju'}
print(d['name'])
d.get('city') # 기억하고 있어야 합니다.

licat

'Jeju'

In [ ]:
d = {'name': 'licat', 'city': 'Jeju'}
# d['age']  #error 자주 발생하는 중요한 에러!
d.get('age', '그건 없당.')

'그건 없당.'

In [ ]:
#위험한 코드 예시

def 요일변경(day):
    return{
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }[day]

# 요일변경(8)  error 서비스 멈춤니다! 이렇게 하면 안됌!!!
요일변경(5)

'금요일'

In [ ]:
# 아래와 같이 변경을 해주세요.
def 요일변경(day):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(day, '잘못된 값이야.') # 기본이 None입니다.

요일변경(8)

'잘못된 값이야.'

In [ ]:
#아래와 같이 변경을 해주세요.
def f():
    return('금금금요일!!!')
def 요일변경(day):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(day, f())  #답변도 함수로 넣어버려

요일변경('asda')

'금금금요일!!!'

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop('one')
numbers

{'two': '둘', 'three': '셋'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop() #error
numbers

TypeError: ignored

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem() #원본이 짤림
print(item)
print(numbers)

('three', '셋')
{'one': '하나', 'two': '둘'}

In [ ]:
numbers = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
for_value = numbers.setdefault('three', 3) #3이 반영되지 않습니다.
print(for_value)
print(numbers)

셋
{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four' : '넷', 'five' : '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [ ]:
#update에서 같은 key가 있으면 덮어씌운다.

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three': 3, 'two': 4})
print(numbers)

{'one': '하나', 'two': 4, 'three': 3}

In [ ]:
# 문제1: 다음 국영수 dict에 점수에 평균을 구하는 코드를 작성하시오.
국영수 = {'국어': 97, '영어': 38, '수학': 90}
sum(국영수.values()) / len(국영수)

75.0

In [ ]:
# 문제2: {'사회':70, '과학':85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성하시오.

국영수.update({'사회' :70 , '과학' : 85})
sum(국영수.values()) / len(국영수)

76.0

In [ ]:
# 문제3: 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가하는 코드를 작성하시오.
# 국영수['영어'] += 10
# 국영수['수학'] += 10

국영수.update({'수학' : 국영수.get('수학', 0)+10, '영어' : 국영수.get('영어ㅇ', 0)+10})
print(국영수) # 영어와 수학이 없었어도 반환해줍니다! get에서 못찾으면 0으로 대체

{'국어': 97, '영어': 10, '수학': 100, '사회': 70, '과학': 85}

In [ ]:
# 문제4: 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성하시오

국영수 = {'국어': 97, '영어': 48, '수학': 100, '사회': 70, '과학': 85}
print(max(국영수.values()))

# 문제5: 가장 높은 점수에 과목을 출력해주세요.
#(https://school.programmers.co.kr/learn/courses/30/lessons/120835 이런문제와 유사합니다.)

print(max(국영수, key = lambda x : x[1])) # 어 어 학 회 학 비교해서 >> 사회
print(max(국영수.items(), key = lambda x : x[1]))

100
사회
('수학', 100)

In [ ]:
for key in 국영수: # 종훈님 코드
    if(국영수.get(key) == max(국영수.values())):
        print(key)

수학
85

In [ ]:
values = list((국영수.values()))
list((국영수.items()))[values.index(max(values))] #국영수 items중에서 점수가 제일 높은번째를 출력
print(list(sorted(국영수.items(), key=lambda x:x[1], reverse=True))[0][0])

수학

In [ ]:
# 여러개의 딕셔너리를 왔다갔다 하면서 key 값으로 value값을 비교할 때에도 사용합니다.

local = {'제주' : 100, '서울' : 977, '부산' : 500}
강우량 = {'제주': 100, '서울': 97, '부산': 50}

max(강우량, key=local.get)

'서울'

In [ ]:
d = {'a' : 0, 'bb' : 9, 'c' : 55, 'd' : 6}
max(d)  #유니코드가 가장 큰 key값을 출력하겠다.

('c', 55)

In [ ]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=len) #길이가 가장 긴 key값을 출력하겠다.

'bb'

In [ ]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=d.get) #d.get에서 반환된 가장 큰값의 key값을 출력하겠다.

'a'

##얕은 복사와 깊은 복사

In [ ]:
l = [1, 2, 3]
ll = l.copy()
id(l), id(ll)

(132225391678464, 132225393524608)

In [ ]:
import copy

a = [1, 2]
b = [3, 4]

aa = [10, 20, a]
bb = [30, 40, b]

aaa = [100, 200, aa]
bbb = [300, 400, bb]

l = [aaa, bbb]
ll = copy.deepcopy(l) # 깊은 복사

a[0] = 99

print(l)
print(ll)

[[100, 200, [10, 20, [99, 2]]], [300, 400, [30, 40, [3, 4]]]]
[[100, 200, [10, 20, [1, 2]]], [300, 400, [30, 40, [3, 4]]]]

In [ ]:
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1000, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [1]:
# 리스트 컴프리헨션으로 깊은 복사 구현 (완벽하진 않습니다.)

l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
ll[0][0] =1000
print(l)
print(ll)

[[1, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [2]:
test = [9999, 9998, 9999]
id(test[0]), id(test[1]), id(test[2])
# 같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(136286866081552, 136286866085616, 136286866081552)

In [3]:
test = {'one':9999, 'two':9998, 'three':9999}
id(test['one']), id(test['two']), id(test['three'])
# 같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(136286866085520, 136286866086704, 136286866085520)

##SET(집합)

In [ ]:
# 1. 중복이 되지 않습니다.
# 2. 순서가 없습니다.
# 3. 교집합, 차집합, 합집합 등이 가능합니다.

In [6]:
set('hello')
s = {'licat', 'licat', 'licat', 'mura', 'binky'} # 게시물에 글 쓴사람은 몇 사람이죠?
print(type(s))
len(s)  #{}set으로 들어가는건 중복을 제외하고 알려줘.

<class 'set'>

3

In [ ]:
#주의

t = {} # dict
t = () # tuple
t = (0) # int
t = (0,) # tuple
t = {0} # set
t = set()
type(t)
# t = tuple()
# type(t)

In [7]:
t1 = () # tuple
t2 = (0,) # tuple
t3 = (0) # int
t4 = (0.1) # float
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'float'>

In [11]:
#합집함
s = {1, 1, 11, 2, 3, 4, 4, 4}
ss= {4, 5, 6}

s | ss

{1, 2, 3, 4, 11}

In [12]:
#교집함
s = {1, 1, 11, 2, 3, 4, 4, 4}
ss= {4, 5, 6}

s & ss

{4}

In [14]:
#차집합

s = {1, 1, 11, 2, 3, 4, 4, 4}
ss= {4, 5, 6}

s - ss

{1, 2, 3, 11}

In [16]:
# 불만인 것
s + ss
# 이게 왜 합집합이 아닌가!!!??

{1, 2, 3, 4, 5, 6, 11}

In [21]:
s.union(ss)
s | ss

{1, 2, 3, 4, 5, 6, 11}

In [26]:
s.add(100)
s

{1, 2, 3, 4, 11, 100}

In [29]:
s.discard(100) #remove는 없을경우 error발생
s

{1, 2, 3, 4, 11}

In [31]:
자유게시판 = {'licat', 'licat', 'licat', 'mura', 'binky'} # 게시물에 글 쓴사람은 몇 사람이죠?
공지사항 = {'licat', 'licat'}
print(len(자유게시판))
print(len(공지사항))

3
1

##리스트 컴프리헨션

In [33]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = []
for i in range(10):
    l.append(f'{i}입니다.')

l

In [41]:
l = [1123 for i in range(10)]
l

[1123, 1123, 1123, 1123, 1123, 1123, 1123, 1123, 1123, 1123]

In [ ]:
l = []
for i  in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i * j} 입니다.')
l

In [ ]:
#구구단을 리스트 검프리헨션으로
l = [f'{i} X {j} = {i*j}' for i in range(2,10) for j in range(1, 10)]
l

In [48]:
l = []
for i in range(10):
    if i % 2  == 0 and i != 0:
        l.append(i)
l

[2, 4, 6, 8]

In [50]:
#0~9까지 짝수를 저장하는 리스트 컴프리헨션
l = [i for i in range(10) if i % 2 == 0 and i != 0]
l

[2, 4, 6, 8]

In [52]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(None)

l

[0, None, 2, None, 4, None, 6, None, 8, None]

In [67]:
#error가 나는 코드
l = [i if i % 2 == 0 else None for i in range(10)]
l

[0, None, 2, None, 4, None, 6, None, 8, None]