##조건문

In [ ]:
def wow():
    iss = 0
    while True:
       yield iss
       iss += 1


for i in wow():
    if i > 10:
        break
    print(f'hello {i}')
    i += 1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [ ]:
if False:
    print('hello')

In [ ]:
if (True): # 이렇게 괄호를 안해도 됩니다!
    print('hello')

hello

In [ ]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [ ]:
''
0
[]
{}
()
set()

#########

1
-1
' '
[10, 20]

[10, 20]

In [ ]:
x = 5
y = 0
result = 'x is greater' if x > y else 'y is greater or equal'
result

'x is greater'

##연습문제

In [ ]:
# 1. 주어진 리스트 `data = [{"name": "길동", "수학": 3, "과학": 93},
#  {"name": "춘향", "수학": 33, "과학": 11},
#  {"name": "철수", "수학": 94, "과학": 67}]`
#에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

data = [{"name": "길동", "수학": 3, "과학": 93},
{"name": "춘향", "수학": 33, "과학": 11},
{"name": "철수", "수학": 94, "과학": 67}]

max_entry = max(data, key = lambda x : x['수학'] + x['과학'])
print(max_entry)
print(max_entry['name'])

{'name': '철수', '수학': 94, '과학': 67}
철수

In [ ]:
# 2. 주어진 사전 `grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}`
#의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

grades = {'Tom' : 87, 'Jerry' : 95, 'Mickey' : 70}
update = grades.items()
update = {i: score +5 for i, score in update}
update

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [1]:
 #3. 주어진 문자열 `s = "apple banana apple cherry banana cherry apple"`에서
 #가장 자주 등장하는 단어를 출력하세요.
from collections import Counter
s = "apple banana apple cherry banana cherry apple"

ss = s.split(' ')
print(max(Counter(ss).items(), key = lambda x : x[1]))

Counter(ss).most_common(1)

('apple', 3)

[('apple', 3)]

In [4]:
s = 'apple banana apple cherry banana cherry apple'
words = s.split(' ')
most_frequent_word = max(set(words), key = words.count)
most_frequent_word

'apple'

In [ ]:
[i if i % 2 ==0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
def f():
    return True

if f():
    print('hello')

hello

In [ ]:
def f():
    return True

def ff():
    return 'hello'

if f() and ff():
    print('hello')

hello

In [ ]:
# 성능에 영향을 끼칩니다!
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if f() or ff():
    print('hello')

hello

In [ ]:
#error가 나는 코드
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if ff() or f():
    print('hello')

In [ ]:
my_funtion = lambda x : '짝수' if x % 2 == 0 else '홀수'
my_funtion(9)

'홀수'

In [ ]:
x = -1
assert x > 0, '0보다 크지 않잔아!' #조건이 참이 아니면 나오는 오류 메세지

AssertionError: ignored

In [ ]:
x = 10
assert x > 0, '양수여야 한다!'
#맞으면 그냥 통과

In [ ]:
score = 59
money = 0

if score >= 90:
    print('90점을 넘기다니 미쳤군.,')
    money += 900000
elif score >= 80:
    print('80점을 넘기다니')
    money += 80000
elif score >= 70:
    print('70점을 넘겼구나')
    money += 7000
elif score >= 60:
    print('60점은 넘었구나,...')
    money += 600
else:
     print('넌 나가라!')
     money -= 9999999
print(money)

넌 나가라!
-9999999

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if 80 > score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 > score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [ ]:
# 위와 같이 하더라도 실행이 같지 않고
# 또 성능도 안좋습니다!!
# 성능이 왜 안좋나요?
# if 뒤를 다 검사해야 하기 때문에 그렇습니다.
# 적절하게 묶는 것은 매우 중요한 포인트입니다

In [5]:
#if를 중첩해서 사용하기

movie = {
    '영화' : '무빙',
    '장르' : 'SF',
    '서비스' : '디즈니',
    '비용' : 15000,
    '평점' : 4.9
}


if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니':
        if movie['비용'] <= 20000:
            if movie['평점'] >= 4.5:
                print('영화시청')

영화시청

In [7]:
#조금 더 다듬어 보기

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie[서비스] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

#다듬어 진게 맞을까??

영화시청

In [14]:
#지금 이 코드에서는 동일하게 작동하겠지만
#이렇게 if를 중첩문으로 했을 때 문제가 발생합니다.

movie = {
    '영화' : '무빙',
    '장르' : 'SF',
    '서비스' : '넷플릭스',
    '비용' : 15000,
    '평점' : 4.1 #변경
}


if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if movie['서비스'] == '디즈니' or '넷플릭스':
                print('영화시청')


def 구독중인ott():
    #사용자에게 문자 알림을 준다던지 하는 엑션을 추가해여 한다?  위와같으면 매우 어려움
        return movie['서비스'] == '디즈니' or '넷플릭스'

영화시청

In [15]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')

영화시청

In [16]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

왓챠 구독하기!

##match

In [17]:
text = 'Hello World'
#JS의 스위치 같은건가?
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case 'Hello World':
        print('굿굿')

굿굿

In [24]:
#JS의 스위치 같은건가?
text = 'Hello'
def match_text():
    match text:
        case 'Hello':
            print('Hello')
        case 'World':
            print('World')
        case 'Hello World':
            print('굿굿')

match_text()

Hello

In [27]:
# 작동하지 않는 코드입니다. JavaScript와 같은 곳에서는 아래와 같은 형식으로 사용하곤 합니다.
text = 'Hello'
match text:
    case 'Hello':
    case 'World':
        print('World')
    case _:
        print('No Match')

IndentationError: ignored

In [29]:
# 작동하지 않는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' or 'World':
        print('World')
    case _:
        print('No Match')

SyntaxError: ignored

In [32]:
#그러면 어떻게 동시 만족을 표현할 수 있을까요?
#예시

text = 'Hello'

match text:
    case 'Hello' | 'World':
        print('Hello world')
    case _: #이전 케이스에 해당하지 않는경우
        print('No match')

Hello world

In [57]:
def test(i):
    if isinstance(i, int) == False:
        print('정수를 입력하세요!!')
        return

    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i in range(5, 11) :
            print('5~10')
        case _ if i > 10:
            print(f'{i} is greater than Ten')
        case _:
            print('숫자를 입력한게 맞나요?')

test(456)
test(1)
test(2)
test(3)
test(4)
test(6)
test('23')

456 is greater than Ten
One
Two
Three or Four
Three or Four
5~10
정수를 입력하세요!!

In [60]:
#더 개선된 case

def test(i):
    if isinstance(i, int) == False:
        print('정수를 입력하세요!!')
        return

    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _:
            if i in range(5, 11) :
                print('5~10')
            elif i > 10:
                print(f'{i} is greater than Ten')
            else:
                print('숫자를 입력한게 맞나요?')
test(456)
test(1)
test(2)
test(3)
test(4)
test(6)
test('23')

456 is greater than Ten
One
Two
Three or Four
Three or Four
5~10
정수를 입력하세요!!

In [ ]:
#문제 match를 사용하여 아래 코드를 완성해주세요.

def attack(attack_type, damage):
    #match...
    pass

attack('물리공격', 100) #출력 100의 데미지 입혔습니다.

#각 공격에 따라 아래의 값이 출력되어야 합니다.
#공격의 종류: 물리공격, 마법공격, 정신공격
#물리공격, 마법공격 : '100의 데미지를 입혔습니다.'
#정신공격: '100ms 만큼 상대방이 혼란을 느낍니다.'

In [68]:
def attack(attack_type, damage):
    match (attack_type, damage):
        case ('물리공격', _) | ('마법공격', _):
            print(f'{attack_type}으로 {damage}의 데미지를 입혔습니다.')
        case ('정신공격', _):
            print(f'{damage}ms 만큼 상대방이 혼란을 느낍니다.')
        case (_, _):
            print(f'{attack_type}은 규칙에 맞지않아...')


attack('물리공격', 200)
attack('마법공격', 200)
attack('정신공격', 200)
attack('강한공격', 200)

물리공격으로 200의 데미지를 입혔습니다.
마법공격으로 200의 데미지를 입혔습니다.
200ms 만큼 상대방이 혼란을 느낍니다.
강한공격은 규칙에 맞지않아...

##반복문

In [70]:
for x in 'hello': #순회 가능한 객체가 들어갑니다.
    print(f'현재 값은{x} 입니다.')
for x in range(1, 6):
    print(f'현재 값은{x} 입니다.')

현재 값은h 입니다.
현재 값은e 입니다.
현재 값은l 입니다.
현재 값은l 입니다.
현재 값은o 입니다.
현재 값은1 입니다.
현재 값은2 입니다.
현재 값은3 입니다.
현재 값은4 입니다.
현재 값은5 입니다.

In [78]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}
for i in d.keys():
    print(i)
for i in d.values():
    print(i)

하나
둘
셋
one
two
three

In [84]:
for i, j in d.items():
    print(f'{i} : {j}')

for k, v in d.items():
    print(k, ':', d[k], sep=' ', end=', ')

하나 : one
둘 : two
셋 : three
하나 : one, 둘 : two, 셋 : three,

In [87]:
# __iter__ 이 메직메서드가 없다? for문이 안된다! 순회가능한 객체가 아니다.
#있다? for문이 된다! 순회가능한 객체이다!

# 1부터 시작해서 5까지의 값이 x에는 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x7906305d5f60>

In [88]:
print(next(x))
print(next(x))
print(next(x))
print(next(x))

h
e
l
l

In [98]:
x = 'hello'
y = x.__iter__()

In [99]:
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

h
e
l
l
o

StopIteration: ignored

In [2]:
result = 0
for i in range(0, 11, 2):
    result += i

print(result)

30

In [4]:
n = 100
result =  (n + 1) * n / 2
result

5050.0

In [11]:
#1부터 100까지 더하기

result = 0
for i in range(1, 101):
    result += i
print(result)

#1부터 100까지 짝수를 더하는 코드
#1. 권장하지 않는 코드(100번 돌아야하고, if문도 체크해야하고)

result = 0
for i in range(101):
    if i % 2 == 0:
        result += i
print(result)

#2.권장하는코드 (순회도 반만 돌고, if문도 없음)

result = 0
for i in range(0, 101, 2):
    result += i
print(result)

#구구단 출력
for i in range(2, 10):
    for j in range(1, 10):
        # print(f'{i} x {j} = {i*j}')
        pass

#홀수들에 특이한 덧셈을 하고 싶습니다.
#예를 들어, 6이하의 특이한 덧셈을 한다면
# 1 + 3 이하의수 + 5이하의 수...
# 1+ 1 + 2 + 3 + 1 + 2 + 3 + 4 + 5 이렇게 답이 나와야 합니다.

result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
print(result)

5050
2550
2550
22

In [ ]:
#두 문제 모두 for는 중첩 2번 해야 합니다.

#문제1
#다음과 같은 문자열이 있습니다.
#s = '135678'
#이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드를 만들어주세요.

s ='135678'
for num in s:
    for j in range(1, 10):
        print(f'{num} X {j} = {int(num) * j}')

In [ ]:
#심화문제
#특이한 구구단이 있다.
# [2, 3 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2, 3, 6단을 출력하고
#곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.

'''
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''

l = [2, 3, 6]
for num in l:
    for j in l:
        print(f'{num} X {j+1} = {num * (j+1)}')

In [26]:
nums = [1,2,3,4,5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 ==0 else f'{x}는 3보다 큰 홀 수' for x in nums if x > 3]
result

['4는 3보다 큰 짝수', '5는 3보다 큰 홀 수']

In [28]:
#개선
result =  []
nums = [1, 2, 3, 4, 5]

for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
           result.append(f'{x}는 3보다 큰 홀수')
result

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [38]:
def something(i):
    if i % 100 == 0:
        return i
    else:
        return 0

l = [100, 200, 300, 301, 302, 202]
l = list(map(something, l))

print(l)

[100, 200, 300, 0, 0, 0]

In [40]:
#하나만 리스트여도 쌓이면 상관없이 잘 돌아감
skill = [
    ('고기잡이', 100, 'SS'),
    ('고기팔기', 120, 'SSS'),
    ('낚시', 5, 'C'),
    ('통발', 5, 'C'),
    ('큰그물', 5, 'C')
]

for skillName, level, skillgarde in skill:
    print(skillName, level, skillgarde)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [42]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for rank, movieName in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {rank}위! {movieName}~')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블~
누적관객수 2위! 뷰티인사이트~
누적관객수 3위! 매트릭스~
누적관객수 4위! 인셉션~
누적관객수 5위! 어거스트 러쉬~

In [ ]:
#실행시키면 런타임 다시 시작해야 합니다.
l = [1, 2]
for i in l:
    l.append(3)
    print(i)

In [52]:
#파이썬 for문은 순회할 객체를 평가하고 그 결과를 바탕으로 순회를 진행
#문자열은 불변이기 때문에 원본문자열이 변경되지않음
#반면 list는 가변적이기 때문에 순회도중 list의 내용이 변경되면서 무한 순회 발생.

s = 'hello'
for i in s: #정상적 순회
    s += '!'
    print(i)
    print(s)

h
hello!
e
hello!!
l
hello!!!
l
hello!!!!
o
hello!!!!!
hello!!!!!

In [54]:
#for문에서 순회하는동안 dict를 업데이트, 제거하는것은 허용하지 않음.

d = {'one' : '하나'}
for i in d:
    d.update({i +d[i]: 1})
print(d)

RuntimeError: ignored

In [57]:
#그래서 안에서 새로운 dict요소를 추가하고 안에서 업데이트 후 덮어 씌우는건 가능.
d = {'one' : '하나'}
for i in d:
    li = dict(d)
    li.update({i +li[i]: None})
print(li)

{'one': '하나', 'one하나': None}

In [59]:
#이런 코드는 OS에서 사용하거나
#쉘 만들 때 사용합니다.
while True:
    userinput = input('>')
    if userinput == 'pwd':
        print('현재 위치 출력')
    elif userinput == 'dir' or userinput == 'ls':
        print('현재 폴더의 위치와 파일명 출력')
    elif userinput == 'exit':
        print('안녕히 가세요')
        break
    else:
        print('없는 단어야. "다시"')

>ㅁㄴㅇㄹㄴㅁㅇㄹ
없는 단어야. "다시"
>ㅁㄴㅇㄻㄴㅇㄹ
없는 단어야. "다시"
>ㅁㄴㅇㄻㄴㅇㄻ
없는 단어야. "다시"
>exit
안녕히 가세요

In [60]:
# .py파일로 작성해서 실행해보세요.
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>pwd
/content
>dir
['.config', 'sample_data']
>exit
안녕히가세요.

In [ ]:
import random

answer = random.randint(1, 1000)
while True:
    inin = input('숫자를 입력해 주세요. >>')
    try:
        userinput = int(inin)
    except ValueError:
        print('숫자 넣으라고 ㅅㅂ')
        continue
    if userinput > answer:
        print('너무 높아')
    elif userinput < answer:
        print('너무 낮아')
    else:
        print(f'정답! {answer}는 1~1000까지 숫자였어')
        break

In [87]:
import random
s =[1, 2, 3, 4, 5]
random.shuffle(s)
print(s)
random.shuffle(s)
print(s)

[4, 2, 1, 5, 3]
[1, 5, 3, 2, 4]

In [88]:
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [93]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

0
9
4
2
4
3
8
1
2
9
4

In [ ]:
i = 2
while i < 10:
    j = 1 #매우 중요!!!!!!! while문은 중첩해서 사용할 때 초기화가 필요합니다.
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    i +=1

In [97]:
x = 0
while x < 10:
    print(x)
    if x ==5:
        break
    x +=1

0
1
2
3
4
5

In [ ]:
# 주의해주세요! 무한반복입니다!
x = 0
while x < 10:
    print(x)
    if x == 5:
        continue
    x += 1

In [100]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5

In [101]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        pass
    print(x)

1
2
3
4
5

In [102]:
# break은 바로 위에 부모만 탈출합니다.
# continue는 아래코드를 실행하지 않고 다음 루프로 넘어갑니다.
# pass는 지나칠 뿐입니다.
# 아래에서 pass는 코드가 애러가 나지 않게만 합니다.
x = 0
while x < 10:
    x += 1
    if x == 5:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [103]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
3 X 1 = 3
3 X 2 = 6
4 X 1 = 4
4 X 2 = 8
5 X 1 = 5
5 X 2 = 10
6 X 1 = 6
6 X 2 = 12
7 X 1 = 7
7 X 2 = 14
8 X 1 = 8
8 X 2 = 16
9 X 1 = 9
9 X 2 = 18

In [104]:
switch = 0
for i in range(5):
    if switch == 1:
        break
    for j in range(5):
        if j == 3:
            switch = 1
            break
        print(f'{i}, {j}')

0, 0
0, 1
0, 2

In [114]:
from logging import exception

class 그만(Exception):
    pass


try:
    for i in range(2, 10):
        for j in range(1, 10):
            if j ==3:
                raise 그만
            print(f'{i} X {j} = {i*j}')
except 그만:
    print('Done')

2 X 1 = 2
2 X 2 = 4
Done

In [117]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장이 있었어요.

for i in range(5):
    print(i)
else:
    print('정상 종료')

# else라고 하지 않고 다른 키워드로 해야한다는 주장이 있었어요.

for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print('정상종료')

0
1
2
3
4
정상 종료
0
1
2

In [119]:
x = 1
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('정상종료')

1
2
3

In [121]:
data = [
    {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
    },
    {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]

In [132]:
## 문제 1번: 평균 나이를 출력해주세요.
# 문제 2번: 남녀 성비를 출력해주세요.

data[0]

{'_id': 'fd7e9a0f-e77b-436a-B781-119b66033d49',
 'index': '1',
 'name': '나주헌',
 'email': 'user-tzctc1q@suspendisse.org',
 'phone': '010-5547-5841',
 'country': '과테말라',
 'address': '광나루로 99-2',
 'job': '유치원교사',
 'gender': '여성',
 'age': '43'}

In [145]:
#1번 평균나이
age = map(lambda x: x['age'], data)
age = list(map(int, age))
average = sum(age) / len(age)
average

37.2

In [163]:
#2번 남녀 성비
gen = list(map(lambda x: x['gender'], data))

def 성비(genlist):
    man = genlist.count('남성')
    woman = genlist.count('여성')
    print(f'총 인원 {man + woman}명중 남성 {man}, 여성{woman} 으로 성비는 "{round(man / woman, 2)}"입니다.')
    print(man / (man+woman))

성비(gen)

총 인원 5명중 남성 2, 여성3 으로 성비는 "0.67"입니다.
0.4

In [160]:
a = map(int, ['1', '2'])
a = list(a)
a

[1, 2]

In [161]:
gender = list(map(lambda x: x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
man / total * 100, woman / total * 100

(40.0, 60.0)

In [167]:
n = 0
while n < 5:
    print(f'현제 숫자는 {n}입니다')
    n += 1
    if n > 3:
        break
else:
        print('반복문을 종료합니다.')

현제 숫자는 0입니다
현제 숫자는 1입니다
현제 숫자는 2입니다
현제 숫자는 3입니다

##클래스

In [172]:
#클래스 공부

class Car: #차의 설계 도면 또는 차 공장 => 클래스
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def start(self):
        print('자동차 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다.')

#공장에서 막 찍혀나온 자동차 3대
# model x, y, s => 인스턴스

modelx = Car() # 인트턴스 = 클래스()
modely = Car()
models = Car()

# Car.max_speed #modelx의 속도를 보고 싶으면 modelx.max_speed를 찍어야 합니다.
# modelx를 제가 구매했습니다.

print(modelx.max_speed)
print(modelx.car_gear[1])
modelx.start()
modelx.stop()

300
D
자동차 출발합니다!
차가 멈췄습니다.