# Day1

## a와 b 출력하기

a와 b 출력하기
정수 a와 b가 주어집니다.
각 수를 입력받아 입출력 예와 같은 형식으로 출력하는 코드를 작성해 보세요.
입력: 4 5

In [ ]:
a , b = map(int, input().strip().split())
print(f'a = {a}')
print(f'b = {b}')

## 문자열 반복해서 출력하기

문자열 반복해서 출력하기
문자열 str과 정수 n이 주어집니다.
str이 n번 반복된 문자열을 만들어 출력하는 코드를 작성해 보세요.
입력: string 5

In [8]:
a, b = input().strip().split()
print(a * int(b))

asd 5
asdasdasdasdasd

## 대소문자 바꿔서 출력하기

대소문자 바꿔서 출력하기
영어 알파벳으로 이루어진 문자열 str이 주어집니다.
각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.
입력: aBcDeFg

In [10]:
str = input()
print(str.swapcase())

asdSDAFASd
ASDsdafasD

## 특수문자 출력하기

특수문자 출력하기
다음과 같이 출력하도록 코드를 작성해 주세요.
출력예시: !@#$%^&*(\'"<>?:;

In [1]:
print(r'!@#$%^&*(\'"<>?:;')

!@#$%^&*(\'"<>?:;

# Day2

## 덧셈식 출력하기

덧셈식 출력하기
두 정수 a, b가 주어질 때 다음과 같은 형태의 계산식을 출력하는 코드를 작성해보세요.
a + b = c
입력:4 5

In [ ]:
a, b = map(int, input().strip().split())
print(f'{a} + {b} = {a + b}')

## 문자열 붙여서 출력하기

문자열 붙여서 출력하기
두개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
입출력 예와 같이 str1과 str2을 이어서 출력하는 코드르 작성해 보세요.
입력:apple pen  출력:applepen

In [16]:
str1, str2 = input().strip().split()
print(str1 + str2)

apple pen
applepen

## 문자열 돌리기

문자열 str이 주어집니다.
문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.
입력: abcde

In [6]:
# print('\n'.join(input()))
for i in input():
    print (i)

하
이
요

## 홀짝 구분하기

홀짝 구분하기
자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을,
홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.

In [20]:
n = int(input())
if n % 2 == 0:
    print(f'{n} is even')
else:
    print(f'{n} is odd')

9
9 is odd

## 문자열 곂쳐쓰기

문자열 곂쳐쓰기
문자열 my_string, overwrite_string과 정수 s가 주어집니다.
문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을
문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.

my_string	overwrite_string	s	result
"He11oWor1d"	"lloWorl"	    2	"HelloWorld"

In [1]:
def solution(my_string, overwrite_string, s):
    answer = list(my_string)
    answer[s:s + len(overwrite_string)] = overwrite_string
    answer = ''.join(answer)
    return answer

solution("He11oWor1d", "lloWorl", 2)

'HelloWorld'

# Day3

## 문자열 섞기

길이가 같은 두 문자열 str1과 str2가 주어집니다.
두 문자열의 각 문자가 앞에서부터 서로 번갈아가면서 한 번씩 등장하는 문자열을 만들어 
return 하는 solution 함수를 완성해 주세요

In [13]:
def solution(str1, str2):
    str1 = str(str1)
    str2 = str(str2)
    str3 = []
    for i in range(len(str1)):
        str3.append(str1[i])
        str3.append(str2[i])
    str3 = ''.join(str3)
    return str3

solution('12345', 'abcde')

'1a2b3c4d5e'

## 문자 리스트를 문자열로 변환하기

문자들이 담겨있는 배열 arr가 주어집니다. 
arr의 원소들을 순서대로 이어 붙인 문자열을 return 하는 solution함수를 작성해 주세요.

In [14]:
def solution(arr):
    return ''.join(arr)

solution(["a","b","c"])

'abc'

## 문자열 곱하기

문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 
return 하는 solution 함수를 작성해 주세요.

In [17]:
def solution(my_string, k):
    return my_string * k

solution('abc', 3)

sol = lambda my_string, k: ''.join([my_string * k]) #이런 방법도 있네

## 더 크게 합치기

#연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.
12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 
return 하는 solution 함수를 완성해 주세요.
(단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.)

In [28]:
def solution(a, b):
    c = str(a) + str(b)
    d = str(b) + str(a)
    answer = max(list([int(c), int(d)])) 
    return answer

solution(91, 9)

991

## 두 수의 연간값 비교하기

연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.
12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 2 * a * b 중 더 큰 값을 return하는 solution 함수를 완성해 주세요.
단, a ⊕ b와 2 * a * b가 같으면 a ⊕ b를 return 합니다

In [32]:
def solution(a, b):
    answer = max([2*a*b,int(str(a)+str(b))])
    return answer

solution(3, 9)

54

# Day4

## n의 배수 
정수 num과 n이 매개 변수로 주어질 때, num이 n의 배수이면 1을 return n의 배수가 아니라면 0을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(num, n):
    if num % n == 0:
        return 1
    else:
        return 0

## 공배수
정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을 아니라면 0을 return하도록 solution 함수를 완성해주세요.

In [11]:
def solution(number, n, m):
    return int((number % n ==0) & (number % m == 0))

0

## 홀짝에 따라 다른 값 반환하기
양의 정수 n이 매개변수로 주어질 때, n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고 n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는 solution 함수를 작성해 주세요.

In [27]:
def solution(n):
    if n % 2 == 1:
        return sum(range(1, n+1, 2))
    elif n % 2 == 0:
        return sum(map(lambda x: x**2, range(0, n+1, 2)))
        
solution(10)

220

## 조건 문자열
문자열에 따라 다음과 같이 두 수의 크기를 비교하려고 합니다.

두 수가 n과 m이라면
">", "=" : n >= m
"<", "=" : n <= m
">", "!" : n > m
"<", "!" : n < m
두 문자열 ineq와 eq가 주어집니다. ineq는 "<"와 ">"중 하나고, eq는 "="와 "!"중 하나입니다. 그리고 두 정수 n과 m이 주어질 때, n과 m이 ineq와 eq의 조건에 맞으면 1을 아니면 0을 return하도록 solution 함수를 완성해주세요

In [34]:
#아니 이건 좀.... ㅋㅋㅋㅋ
def solution(ineq, eq, n, m):
    sol1 = ''
    sol2 = ''
    if '>' in ineq:
        sol1 = 'left'
    else:
        sol1 = 'right'
    if '=' in eq:
        sol2 = 'equal'
    else:
        sol2 = 'x'
    
    caseA = int(n >= m)
    caseB = int(n <= m)
    caseC = int(n > m)
    caseD = int(n < m)

    if 'left' in sol1:
        if 'equal' in sol2:
            return caseA
        else:
            return caseC
    elif 'right' in sol1:
        if 'equal' in sol2:
            return caseB
        else:
            return caseD
    else:
        pass


solution(">", "!", 41, 70)

0

## flag에 따라 다른 값 반환하기
두 정수 a, b와 boolean 변수 flag가 매개변수로 주어질 때, flag가 true면 a + b를 false면 a - b를 return 하는 solution 함수를 작성해 주세요.

In [ ]:
def solution(a, b, flag):
    if flag == True:
        return a + b
    else:
        return a - b

# Day5

## 코드 처리하기
문자열 code가 주어집니다.
code를 앞에서부터 읽으면서 만약 문자가 "1"이면 mode를 바꿉니다. mode에 따라 code를 읽어가면서 문자열 ret을 만들어냅니다.

mode는 0과 1이 있으며, idx를 0 부터 code의 길이 - 1 까지 1씩 키워나가면서 code[idx]의 값에 따라 다음과 같이 행동합니다.

mode가 0일 때
code[idx]가 "1"이 아니면 idx가 짝수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 0에서 1로 바꿉니다.
mode가 1일 때
code[idx]가 "1"이 아니면 idx가 홀수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 1에서 0으로 바꿉니다.
문자열 code를 통해 만들어진 문자열 ret를 return 하는 solution 함수를 완성해 주세요.

단, 시작할 때 mode는 0이며, return 하려는 ret가 만약 빈 문자열이라면 대신 "EMPTY"를 return 합니다.

In [57]:
def solution(code):
    mode = 0
    ret = ''
    for i in range(len(code)):
        if code[i] == '1':
            if mode == 0:
                mode = 1
            else:
                mode = 0
        
        if i % 2 == 0 and mode == 0 and '1' not in code[i]:
            ret += code[i]
        elif i % 2 == 1 and mode == 1 and '1' not in code[i]:
            ret += code[i]
    if ret == '':
        ret = 'EMPTY'
    return ret

solution("")

'EMPTY'

## 등차수열의 특정한 항만 더하기
두 정수 a, d와 길이가 n인 boolean 배열 included가 주어집니다. 
첫째항이 a, 공차가 d인 등차수열에서 included[i]가 i + 1항을 의미할 때, 
이 등차수열의 1항부터 n항까지 included가 true인 항들만 더한 값을 
return 하는 solution 함수를 작성해 주세요.
![Alt text](image-1.png)

In [ ]:
def solution(a, b ,included):